/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}

footer {
    padding-top: 20px;
}

.subfooter {
    padding-top: 20px;
    background: #000;
    color: #777;
}


.main-bg {
    position: relative;
    background: #FFF url("img/salk-media-package-7.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 25px;
    margin-top: 30px;
}



html,body{height:100%;}

.container {
    max-width: 1024px;
    min-height: 80%;
    overflow: hidden;
}

.headshot {
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* print a salk email address for a username, helps avoid spam */
span.salkemail:after { content: attr(user)"\40salk.edu"; }


#map-container {
    height:400px;
    /*height:100%;*/
}

.maplabel {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;     
    border: 2px solid black;
    white-space: nowrap;
}
